 body { 
   background:#000000 !important;
       } 

.container {
             border-image-slice: 0 243 0 243; 
             border-image-width: 0px 60px 0px 60px; 
             border-image-outset: 0px 0px 0px 0px; 
             border-image-repeat: stretch round; 
             border-image-source: url("/static/css/images/bord_23_left.png");
             background-color: #000000;
             }



#yellowfonts { 
   color:#bbbb00;
            }
a { 
   color:#bbbb00;
            }
h1 { 
   color:#bbbb00;
            }
