 body { 
   background:#000000 !important;
       } 
hr.style-thin {
    padding: 0;
    border: none;
    border-top:medium double #bbbb00;
    color: #bbbb00;
}

.push1 {
    height: 60px;
}

.container {
            /* border-image-slice: 0 243 0 243; 
             border-image-width: 0px 60px 0px 60px; 
             border-image-outset: 0px 0px 0px 0px; 
             border-image-repeat: stretch round; 
             border-image-source: url("/static/css/images/bord_23_left.png"); */
             background-color: #000000;
             }

@media (min-width: 768px) {
  .inner {
      border-image-slice: 0 260 0 260; 
      border-image-width: 0px 60px 0px 60px; 
      /*border-image-outset: 0px 30px 0px 30px; */
      border-image-repeat: stretch round; 
      border-image-source: url("/static/picts/main/bord_42_left.png");
      background-color: #000000;
  }
}
h4 a:link, h4 a:visited{
    color:#bbbb00;
}
#yellowfonts { 
   color:#bbbb00;
            }
a { 
   color:#bbbb00;
            }
h1 { 
   color:#bbbb00;
            }
html, body {
    height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    background-color: black;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}